# Import thư viện Pandas

In [1]:
import pandas as pd

# Đọc và hiển thị 5 dòng đầu tiên

In [3]:
df = pd.read_csv(r"C:\Users\PHAM THE ANH\Data Analysis_Code Gym\01. Tong quan\Thuc_hanh_2\OnlineRetail.csv", encoding = "ISO-8859-1")
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# Số lượng dòng và cột của bộ dữ liệu

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

# Công ty bán hàng tại bao nhiêu quốc gia

In [5]:
# lấy ra tên các quốc gia
countries = df.Country.unique()
print(f"Số lượng các quốc gia: {countries.size}")

Số lượng các quốc gia: 38

# Số lượng đơn hàng bán ra và tổng doanh thu

In [8]:
# Tạo ra cột tính tiền của các mặt hàng
df["Total"] = df["Quantity"] * df["UnitPrice"]

# Giá trị của mỗi đơn hàng
total_invoices = df["Total"].sum()
print(f"Số lượng hoá đơn bán ra: {total_invoices.size}")
print(f"Tổng doanh thu: {total_invoices.sum():.2f}")

Số lượng hoá đơn bán ra: 1
Tổng doanh thu: 9747747.93

# Top 10 mặt hàng có số lượng bán ra lớn nhất

In [21]:
# gom hai thuộc tính bao gồm "StockCode" và "Description" thành một nhóm
# và sắp xếp từ lớn đến bé theo giá trị "Quantity"
quantity_product = df.groupby(["StockCode","Description"])["Quantity"].sum().sort_values(ascending = False)
quantity_product.head(10)

StockCode  Description
84077      WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
85099B     JUMBO BAG RED RETROSPOT               47363
84879      ASSORTED COLOUR BIRD ORNAMENT         36381
22197      POPCORN HOLDER                        36334
21212      PACK OF 72 RETROSPOT CAKE CASES       36039
85123A     WHITE HANGING HEART T-LIGHT HOLDER    35025
23084      RABBIT NIGHT LIGHT                    30680
22492      MINI PAINT SET VINTAGE                26437
22616      PACK OF 12 LONDON TISSUES             26315
21977      PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

# Top 10 mặt hàng có doanh thu lớn nhất

In [22]:
# gom hai thuộc tính bao gồm "StockCode" và "Description" thành một nhóm
# và sắp xếp từ lớn đến bé theo giá trị "Quantity"
quantity_product = df.groupby(["StockCode","Description"])["Total"].sum().sort_values(ascending = False)
quantity_product.head(10)

StockCode  Description
DOT        DOTCOM POSTAGE                        206245.48
22423      REGENCY CAKESTAND 3 TIER              164762.19
47566      PARTY BUNTING                          98302.98
85123A     WHITE HANGING HEART T-LIGHT HOLDER     97715.99
85099B     JUMBO BAG RED RETROSPOT                92356.03
23084      RABBIT NIGHT LIGHT                     66756.59
POST       POSTAGE                                66230.64
22086      PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
84879      ASSORTED COLOUR BIRD ORNAMENT          58959.73
79321      CHILLI LIGHTS                          53768.06
Name: Total, dtype: float64